.food-item-container {
  display: flex;
  border: 1px solid #cbd2d9;
  margin: 5px;
  border-radius: 5px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .food-item-container {
    width: 48%;
    height: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .food-item-container {
    width: 32%;
    height: 180px;
  }
}

.food-img {
  width: 50%;
  height: 180px;
  border-radius: 5px;
}
/* @media screen and (min-width: 768px) {
  .food-img {
    height: 180px;
    width: 220px;
  }
} */
.food-name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #334155;
  margin: 5px;
}
@media screen and (min-width: 768px) {
  .food-name {
    font-size: 22px;
  }
}
.food-price-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}
.currency-food-icon {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #334155;
}
@media screen and (min-width: 768px) {
  .currency-food-icon {
    width: 25px;
    height: 25px;
  }
}

.food-price {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #334155;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .food-price {
    font-size: 18px;
  }
}

.food-rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}
.star-food-icon {
  color: #ffcc00;
  width: 22px;
  height: 22px;
}
.food-rating {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #1e293b;
  margin: 0px;
}
.food-add-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffa412;
  border: 1px solid #ffcc00;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
}
.quantity-flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dec-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.inc-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.minus-icon {
  width: 25px;
  height: 25px;
}
.plus-icon {
  width: 25px;
  height: 25px;
}
.qunatity-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #475569;
  margin: 0px;
}
